body {
    padding-top: 60px;
    padding-bottom: 40px;
    min-width: 900px;
}
.sidebar-nav {
    padding: 9px 0;
}
.protrols {
    height: 200px;
    background-color: #ffffff;
    overflow-y: scroll;
}

.line {
    width: 2px;
    background: linear-gradient(#FFFFFF, #CCCCCC, #CCCCCC, #FFFFFF) repeat scroll 0 0 transparent;
    height: 200px;
    margin: 0px auto;
}
.splitline{
    margin: 5px 0px;
}
.customerwell{
    background-color:#F7F7F7
}