{% extends "baseTemplate.html" %}
{% block title %}怪蜀黍爱学习---登录{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/docs.css"/>
{% endblock %}
{% block content %}
<div class="jumbotron masthead">
    <div class="container">
        <h1>怪蜀黍爱学习</h1>
        <p>坚持，用心，专业，进取，是成功不可缺少的因素<br>创新，多维，多角度，多思维定制学习</p>
        <p>
            <a href="regist.jsp" class="btn btn-primary btn-large" >开始畅游</a>
        </p>
        <ul class="masthead-links">
            <li>
                <a href="/regist.html" >注册账号</a>
            </li>
            <li>
                <a href="/login.html" >现在登录</a>
            </li>
            <li>
                <a href="#" >关于合作</a>
            </li>
            <li>
                怪蜀黍 &copy 2012-2013
            </li>
        </ul>
    </div>
</div>
{% endblock %}